.cid-main {
  background-image: url("../assets/images/background-1199x899.png");
  background-position: top center; 
  background-repeat:   no-repeat;
  background-size:     contain; 
  background-color: #FCF2E9;
}

.cid-main H1 {
  color: #497D96;
  font-size: xx-large;
  text-align: center;
}

.cid-main H2 {
  color: #EE8A39;
  text-align: center;
  font-size: large;
  font-weight: 500;
}

.content-outter {
  width: 100%;
  text-align: center;
}

.content-inner {
  display: inline-block;
}

.left {
  display: inline-block;
  height: 128px;
}

.right {
  display: inline-block;
  height: 128px;
  
}

.cid-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}