.cid-main {
  background-image: url("../assets/images/background-1199x899.png");
}
.cid-main H1
{
  color: #497D96;
  font-size: xx-large;
  text-align: center;
}

.cid-main H2 
{
  color: #EE8A39;
  text-align: center;
  font-size: large;
  font-weight: 500;
}

.title {
  margin-left: 1em;
}

.cid-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}